<mat-toolbar color="primary" class="header-toolbar">
    <!-- Logo -->
    <div class="logo">
        <!-- logo for app if required -->
        <!-- <img src="img/logo.png" alt="Logo" /> -->
    </div>


    <!-- User Menu -->
    <div class="user-menu me-10" [matMenuTriggerFor]="userMenu">
        <img src="img/user.png" class="user-profile-wrapper" alt="profile-image" width="40" height="40">
        <div>
            <div><strong>{{ user?.userName }}</strong></div>
            <div> {{ user?.roleName }}</div>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>


    <mat-menu #userMenu="matMenu" class="user-menu">
        <div class="mat-menu-user interactive-card">
            <div class="user-image-wrapper">
                <img src="img/user.png" alt="user Image" class="user-image-top" width="40" height="40"/>
                
            </div>

            <div class="user-info-wrapper">
                <div class="user-name">{{ user?.userName }}</div>
                <div class="user-info"><strong>Role:</strong> {{ user?.roleName }}</div>
            </div>

            <button type="button" mat-flat-button color="warn" class="logout-btn cursor-pointer" (click)="logout()">
                Logout
            </button>
        </div>
    </mat-menu>
</mat-toolbar>