.login-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #e6f2ff; /* Very light blue */
}

.login-footer {
  background-color: #0066cc; /* More balanced blue */
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.footer-link {
  color: #ffdd57; /* Highlight color for the link */
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
  color: #ffe785;
}


.login-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
