<div class="auth-container">
  <div class="auth-box">
    <h2>LOGIN</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" formControlName="userEmail" placeholder="Email ID" />
      </div>
      @if (loginForm.get('userEmail')?.touched && loginForm.get('userEmail')?.invalid) {
      <small class="error">Enter a valid email</small>
      }

      <div class="input-group">
        <i class="fa-solid fa-lock"></i>
        <input type="password" formControlName="userPassword" placeholder="Password" />

      </div>
      @if (loginForm.get('userPassword')?.touched && loginForm.get('userPassword')?.invalid) {
      <small class="error">Password is required</small>
      }

      <div class="forgot">
        <a href="#">Forgot your password?</a>
      </div>

      <button type="submit" class="btn" [disabled]="loginForm.invalid">Log in</button>
    </form>


  </div>
</div>